[Unit]
Description=ZIGBEE DATA FORWARDER
After=network.target

[Service]
User=root
WorkingDirectory=/home/kimstars/zigbee-dashboard
ExecStart=/usr/bin/python3 /home/kimstars/zigbee-dashboard/app1/mqtt_sender.py

[Install]
WantedBy=multi-user.target