<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-rc6/vega.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-beta.11/vega-lite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-beta.20/vega-embed.js"></script>

<script src="../static/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="view"></div>
</body>
<script>
    vega.embed('#view', 'https://vega.github.io/vega/examples/bar-chart.vg.json');


</script>
</html>