<html>
<head>
<meta charset="utf-8">
<title>test</title>
    <script src="../static/jquery-3.2.1.min.js"></script>
</head>
<style>

.b{
    animation:mymove 5s infinite linear;
	-webkit-animation:mymove 5s infinite linear;
}

@keyframes mymove{
	0%   {transform:rotate(0deg);}
	100% {transform:rotate(-360deg);}
}
@-webkit-keyframes mymove{
    0%   {transform:rotate(0deg);}
	100% {transform:rotate(-360deg);}
}
</style>
<body>
<img id="img1" src="../static/myfan2.png" width="500" height="500">
<button id="btn1"></button>
<script>
    $(document).ready(function(){
        $('#btn1').click(function(){
            $('#img1').addClass('b');
        })
        });
</script>
</body>
</html>